html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: black;
  color: white;
  padding: 2vw 4vw 2vw 4vw;
}

a {
  color: mediumspringgreen;
  text-decoration-line: none;
}

a:hover {
  color: deeppink;
  /* text-decoration-line: underline; */
}

li {
  padding-bottom: 0.5em;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: solid 1px white;
}

.nav-links {
  display: flex;
  gap: 3vw;
}

#title {
  font-size: 1.75em;
  font-weight: bolder;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.small {
  display: none;
}
.large {
  display: flex;
}

.main {
  padding: 2vw;
}

#intro {
  font-size: calc(1em + 4vmin);
}

.list-heading {
  font-size: calc(1em + 4vmin);
}

.list-body {
  font-size: calc(1em + 1vmin);
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
  padding-top: 10px;
}

@media (max-width: 700px) {
  #articles {
    grid-template-columns: 1fr;
  }

  .small {
    display: flex;
  }
  .large {
    display: none;
  }

  .articles {
    display: block;
  }
}
