/* Override all default padding and margin */
* {
  padding: 0;
  margin: 0;
}

/* LIGHT AND DARK MODE */
/* Dark mode by default*/
:root {
  --body-bg: #000000;
  --body-color: #ffffff;
  --a-color: mediumspringgreen;
  --a-hover-color: deeppink;
  --code-bg: #333;
}

a {
  text-decoration-line: none;
  color: var(--a-color, mediumspringgreen);
}

a:hover {
  color: var(--a-hover-color, deeppink);
}

.light {
  display: none;
}

code {
  display: block;
  overflow: scroll;
}

code,
.code {
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--code-bg);
  margin: 0;
  padding: 0.1rem 0.5rem 0 0.5rem;
  list-style: none;
  font-size: 0.9em;
}

/* Light mode override */
@media (prefers-color-scheme: light) {
  :root {
    --body-bg: rgb(230, 227, 236);
    --body-color: rgb(43, 40, 122);
    --a-color: rgb(81, 69, 255);
    --code-bg: rgb(209, 205, 217);
  }

  a {
    text-decoration: underline;
  }

  .light {
    display: block;
  }
  .dark {
    display: none;
  }
}

.groupAndFilter {
  padding-bottom: 1.5em;
}

form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
  border-radius: 0.25em;
}

.groupBy {
  flex-grow: 1;
  flex-basis: 1;
}

.filterBy {
  flex-grow: 10;
  flex-basis: 10;
}

fieldset {
  border: none;
}

input[type='text'] {
  background-color: var(--body-bg);
  color: var(--body-color);
  border: 0;
  border-bottom: 1px solid var(--body-color);
  padding: 0.5em;
  padding-bottom: 0.1em;
  font-size: 1rem;
  width: 23ch;
}

input[type='text']::placeholder {
  border: 0;
  font-style: italic;
}

input[type='radio'] {
  margin-left: 1em;
  accent-color: var(--a-color);
}

input[type='text']:focus {
  outline: none;
}

/* hide elements if not required when printing */
@media print {
  .hide-print {
    display: none;
  }
}

/* Default font etc */
html {
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--body-bg, black);
  color: var(--body-color, white);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* RESPONSIVE */
/* 2-3? columns on large screens */
.lists {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
}

.small {
  display: none;
}

/* two column on medium screens */
@media (max-width: 1000px) {
  .lists {
    grid-template-columns: repeat(2, auto);
  }
}

/* single column on small screens */
@media (max-width: 700px) {
  .lists {
    grid-template-columns: 1fr;
  }

  .small {
    display: block;
  }
  .large {
    display: none;
  }
}

/* Generic element styling */
li {
  padding-bottom: 0.5rem;
  margin-left: 1rem;
}

h1,
h2,
h3 {
  padding: 1vw 0 1vw 0;
}

p,
img {
  padding: 1vw 0 1vw 0;
}

.ptb-1 {
  padding: 0.75em 0 0.75em 0;
}

/* classes */
.header {
  justify-content: space-between;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 1000;
  border-bottom: solid 1px var(--body-color, white);
  background: rgba(255, 255, 255, 0);
  padding: 0vw 3vw 1.5vw 3vw;
  max-height: 3rem;
}

.title {
  font-weight: bolder;
  text-decoration: none;
  font-size: 3rem;
  /* font-family: 'Shadows Into Light Two', sans-serif; */
  font-family: 'DM Serif Display', serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* in case i bring back nav bar links
.nav-links {
  display: flex;
  gap: 3vw;
} */

/* Text size modifiers */
.t-4_5 {
  font-size: calc(1rem + 3vmin);
  line-height: calc(2rem + 3vmin);
  font-family: 'DM Serif Display', serif;
}

.t-2 {
  font-size: calc(1rem + 2vmin);
  font-family: 'DM Serif Display', serif;
}

/* spacing modifiers */
.p-3 {
  padding: 3vw;
}

.pb-1 {
  padding-bottom: 1vw;
}

.max-width-60 {
  max-width: 60ch;
  margin-left: auto;
  margin-right: auto;
}

/* positioning */
.img-center {
  max-width: 50vmin;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.github-logo {
  height: calc(1rem + 2vmin);
  width: calc(1rem + 2vmin);
  padding: 0px;
  border-radius: 50%;
}

.github-logo:hover {
  background-color: var(--a-hover-color, deeppink);
}

.bg-one {
  background-color: var(--a-hover-color, deeppink);
}

.bg-two {
  background-color: var(--a-color, mediumspringgreen);
  color: var(--body-bg, black);
}

.error-text {
  font-style: italic;
}
